@font-face {
    font-family: 'raleway'; // Name for your font
    src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf') format('woff2');
    font-weight: normal; // Font weight (e.g., normal, bold)
    font-style: normal; // Font style (e.g., normal, italic)
  }
  
  
  .navbar {
    
    background-color: #007fff;
    padding-right:40% ;
    
    a {
      
      color: #000000;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: 'raleway';
  
    }
  
    a:hover {
      
      box-shadow: #9497974f;
      background-color: #0024471a;
      color: #000000;
      border-radius: 15px 15px 15px 15px;
    }
  
  
    .nav:active {
  
      font-weight: bold;
    }
    
  }
  
  
  
  
  .about {
    color: #ffffff;
    background-color: #021d36;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    .name {
      font-weight: 900;
      font-size: 48px;
  
    }
  
    .description {
      overflow: hidden;
  
    }
  }
  
  .logo {
    background-color: #007fff;
  
    img {
      width: 20%;
      height: auto;
      margin-right: 40%;
      margin-left: 5%;
      margin-top: 0.5%;
      width: 405px;
      height: 56px;
      border-radius: 5px;
  
    }
  }
  
  .logo2 {
    width: 20%;
    height: auto;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 0.5%;
    width: 160px;
    height: 120px;
    border-radius: 5px;
  
  }
  
  
  .footer {
    background-color: #0b0c10;
    color: #ffffff;
    width: 100%;
    bottom: 0;
    position: fixed;
    font-family: 'raleway';
    text-align: center;
  }
  
  #home,
  #contact {
    display: none;
    background-color: #021d36;
    padding: 20px;
    font-family: 'raleway';
    color: #c5c6c7;
    margin-left: 10%;
    margin-right: 10%;
  
    text-align: center;
  
  
  
  }
  
  .body {
    background-color: #0f172a;
  
    font-family: 'raleway';
    
  }
  
  .contact-icon {
    width: 200px;
    height: 200px;
  
  }
  