@font-face {
    font-family: 'raleway'; 
    src: url('../fonts/PlusJakartaSans-Medium.ttf') format('woff2');
    font-weight: normal;
   
  }

.blog-post {
    padding-left: 56px;
    padding-right: 56px;
    margin: auto;
    padding-bottom: 64px;
    
    align-self: center;
    width: 840px;
    height: 180px;
    

    .post-title {
        font-size: 30px;
        font-weight: 800;
        margin: 0;
        text-align: left;
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 8px;
    }



    .post-details {
        font-size: 14px;
        text-align: left;
        color: #94a3b8;
        display: flex;
        overflow: hidden;
        img {
            width: 20px;
            height: 20px;
            margin-left: 16px;
            margin-top: 1px;
        }
    }

    .post-content {
        text-align: left;
        margin-right: 32px;
        color: #94a3b8;
        width: 100%;

        .post-description {
            justify-content: center;
            text-overflow: ellipsis;

        }
    }

    img {
        float: right;
        width: 170px;
        height: 130px;
        
    }


    .read-more-href {
        text-decoration: none;
    }
    @media screen and (max-width: 768px) { 
        .blog-post{
            margin: 0;
            padding: 0;
        }
    }


}