@font-face {
    font-family: 'raleway';
    src: url('../fonts/PlusJakartaSans-Medium.ttf') format('woff2');
    font-weight: normal;

}

.blog-post {
    padding-left: 64px;
    padding-right: 64px;
    margin: auto;

    
    align-self: center;

    margin-bottom: 64px;

    .post-title {
        font-size: 30px;
        font-weight: 800;
        margin: 0;
        text-align: left;
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 8px;
    }



    .post-details {
        font-size: 14px;
        text-align: left;
        color: #94a3b8;
        display: flex;
        overflow: hidden;

        img {
            width: 20px;
            height: 20px;
            margin-left: 16px;
            margin-top: 1px;
        }
    }

    .post-content {
        text-align: left;
        margin-right: 32px;
        color: #94a3b8;
        width: 100%;

        .post-description {
            justify-content: center;
            text-overflow: ellipsis;
            font-size: 18px;
        }
    }

    .post-image {
        float: right;
        width: 274px;
        height: 144px;

    }

    .post-image2 {
        display: none;
        border-style: solid;
        border-radius: 3%;
        border-width: 2px;
    }


    .read-more-href {
        text-decoration: none;
    }

    @media screen and (max-width: 768px) {
        .post-image {
            display: none;
        }

        .post-title {
            margin-bottom: 16px;
        }

        .post-description {
            font-size: 18px;
        }

    }


}